<div id="login-form-wrap">
  <p id="UID" >{{user}}</p>
  <p id="username" style="">Hola, has ingresado con el siguiente mail : {{username}}</p>

  <h2>Sube tu imagen de perfil</h2>

<form id="profilePicForm">
  <input id="profilePic" type="file" name="profilePic"  accept=".jpg">
  <button type="submitProfilePic">Enviar</button>
</form>

<h2>Sube imagenes de tus productos</h2>

<form id="productImageForm">
  <input id="productImages" type="file" name="productImage" multiple accept=".jpg">
  <button type="submitProductPictures">Enviar</button> </form>

<h2>Sube tus documentos</h2>

<h4>Sube tu identificacion</h4>
<form id="idForm">
  <input type="file" id="documents" name="identification" multiple accept=".pdf">
  <button type="submit">Enviar</button>
</form>
<h4>Sube tu comprobante de domicilio</h4>
<form id="locationForm">
  <input type="file" id="documents" name="location"  accept=".pdf">
  <button type="submit">Enviar</button>
</form>
<h4>Sube tu comprobante de estado de cuenta</h4>

<form id="statusForm">
  <input type="file" id="documents" name="accountStatus"  accept=".pdf">
  <button type="submit">Enviar</button>
</form>




  
<script type="module" src="/documents.js"> 

      </script>

